body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #1f2937;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.header-logo {
  font-size: 24px;
  font-weight: bold;
  color: #F9FAF8;
}

.header-links {
  list-style: none;
  margin: 0;
  display: flex;
  margin: 16px;
  gap: 16px;
}

.header-logo,
.header-links {
  margin: 0 128px;
}

.hero {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 0px;
  gap: 120px;
}

.hero-left {
  width: 450px;
}

.hero-header {
  font-size: 48px;
  font-weight: bold;
  line-height: 1;
}

.hero-desc,
.header-links {
  color: #E5E7EB;
  font-size: 18px;
}

.hero-desc {
  margin: 8px 0;
}

.hero-button {
  background-color: #3882F6;
  border-radius: 8px;
  padding: 8px 16px;
  border-style: none;
  color: white;
  font-weight: bold;
  margin: 0;
}

.hero-image {
  width: 450px;
  height: 200px;
  object-fit: cover;
}

.information {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-pic {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 8px;
  border: 2px solid;
  border-color: #3882F6;
}

.information-header {
  font-size: 36px;
  font-weight: bold;
  color: #1F2937;
  margin-top: 32px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.card {
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 32px;
}

.quote {
  background-color: #E5E7EB;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-text {
  font-size: 24px;
  font-style: italic;
  color: #1F2937;
  width: 700px;
  margin-top: 60px;
}

.signed {
  margin-left: 400px;
  font-weight: bold;
  margin-bottom: 32px;
  font-size: 24px;
}

.call-to-action {
  display: flex;
  justify-content: center;
}

.modal  {
  background-color: #3882F6;
  margin: 64px 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: white;
  padding: 32px;
  gap: 120px;
}

.modal-desc{
  margin-left: 64px;
}

.modal-desc-header{
  font-size: 18px;
  font-weight: bold;
}

.modal-button{
  margin-right: 64px;
  padding: 4px 16px;
  background-color: #3882F6;
  color: white;
  border-color: white;
  border: 2px solid;
  border-radius: 8px;
  font-weight: bold;
}

.footer {
  background-color: #1f2937;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}